

#aboutSection{
  background-color: var(--white);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  border-radius: 30px;
  color: var(--black);
  width: 100%;
  padding: 40px;
  position: relative;
  top: -100px;
}
.border-right-blue{
  border-right: 3px solid var(--blue);
}
.card-about{
  cursor: pointer;
  padding: 0 20px;
}
.card-about div{
  padding: 20px;
  border-radius: 30px;
  transition: all 0.3s;

}
.card-about:hover div{
  background-color: var(--gray);
}


