/* bg-animated */
.bg-animated {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100vh;
    pointer-events: none;
    overflow: hidden;
}

.box div {
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
    /* border: 6px solid #0070FF; */
}

.box div:nth-child(1) {
    top: 12%;
    left: 42%;
    animation: animate 10s linear infinite;
    background-image: url("../img/icons/Bootstrap.png");
}

.box div:nth-child(2) {
    top: 70%;
    left: 50%;
    animation: animate 7s linear infinite;
    background-image: url("../img/icons/css.png");
}

.box div:nth-child(3) {
    top: 17%;
    left: 6%;
    animation: animate 9s linear infinite;
    background-image: url("../img/icons/figma.png");
}

.box div:nth-child(4) {
    top: 20%;
    left: 60%;
    animation: animate 10s linear infinite;
    background-image: url("../img/icons/react.png");
}

.box div:nth-child(5) {
    top: 67%;
    left: 10%;
    animation: animate 6s linear infinite;
    background-image: url("../img/icons/html.png");
}

.box div:nth-child(6) {
    top: 80%;
    left: 70%;
    animation: animate 12s linear infinite;
    background-image: url("../img/icons/django.png");
}

.box div:nth-child(7) {
    top: 80%;
    left: 80%;
    animation: animate 5s linear infinite;
    background-image: url("../img/icons/php.png");
}

.box div:nth-child(8) {
    top: 32%;
    left: 25%;
    animation: animate 16s linear infinite;
    background-image: url("../img/icons/jquery.png");
}

.box div:nth-child(9) {
    top: 90%;
    left: 25%;
    animation: animate 9s linear infinite;
    background-image: url("../img/icons/js.png");
}

.box div:nth-child(10) {
    top: 20%;
    left: 80%;
    animation: animate 10s linear infinite;
    background-image: url("../img/icons/mysql.png");
}

.box div:nth-child(11) {
    top: 18%;
    left: 50%;
    animation: animate 10s linear infinite;
    background-image: url("..s/img/icons/github.png");
}

.box div:nth-child(11) {
    top: 40%;
    left: 50%;
    animation: animate 10s linear infinite;
    background-image: url("../img/icons/nodejs.png");
}

.box div:nth-child(12) {
    top: 80%;
    left: 30%;
    animation: animate 5s linear infinite;
    background-image: url("../img/icons/photoshop.png");
}

.box div:nth-child(13) {
    top: 10%;
    left: 90%;
    animation: animate 10s linear infinite;
    background-image: url("../img/icons/illustrator.png");
}

.box div:nth-child(14) {
    top: 50%;
    left: 90%;
    animation: animate 5s linear infinite;
    background-image: url("../img/icons/after-effects.png");
}

.box div:nth-child(15) {
    top: 50%;
    left: 5%;
    animation: animate 15s linear infinite;
    background-image: url("../img/icons/typescript.png");
}

@keyframes animate {
    0% {
        transform: scale(0) translateY(0) rotate(0);
        opacity: 1;
    }

    100% {
        transform: scale(1.3) translateY(-90px) rotate(360deg);
        opacity: 0;
    }
}