.contact-container {
  background-color: #0070FF;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 40px;
  overflow: hidden;
}

.left-contact {
  background-image: url("../img/vac.png");
  background-size: cover;
  background-position: bottom;

}

.bg-left-contact {
  background-color: #006effa7;
  backdrop-filter: blur(1px);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
}

.contactLink {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 20px;
}

.formulaire {
  display: flex;
  flex-direction: column;
  /* padding: 40px; */
  width: 100%;
  background-color: #fff;
}

input {
  height: 3rem;
}

textarea {
  height: 6rem;
}

input,
textarea {
  margin-bottom: 5px;
  width: 100%;
  border: #0070FF solid 2px;
}

.input-container {
  position: relative;
  width: 100%;
  margin-bottom: 20px
}

.input-container input {
  width: 100%;
  padding: 20px;
  border: 1px solid #0070FF;
  border-radius: 30px;
  outline: none;
  background: none;
  color: #333
}

.input-container textarea {
  width: 100%;
  padding-left: 20px;
  padding-top: 10px;
  border: 1px solid #0070FF;
  border-radius: 30px;
  outline: none;
  background: none;
  color: #333
}


.input-container .label {
  position: absolute;
  left: 20px;
  top: 24px;
  transform: translateY(-50%);
  pointer-events: none;
  color: #333;
  transition: all 0.3s ease
}

input:focus+.label,
textarea:focus+.label {
  top: 0px !important;
  padding-left: 10px;
  padding-right: 10px;
  color: #0070FF;
  background: #fff;
  font-size: 0.8em;
  border: none !important
}

/* Label en haut quand focus OU input non vide */
.input-container input:focus+.label,
.input-container input:not(:placeholder-shown)+.label,
.input-container textarea:focus+.label,
.input-container textarea:not(:placeholder-shown)+.label {
  top: 0px !important;
  padding-left: 10px;
  padding-right: 10px;
  color: #0070FF;
  background: #fff;
  font-size: 0.8em;
}

/* --- POPUP --- */
.popup-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  animation: fadeIn 0.3s ease;
}

.popup-content {
  max-width: 600px;
  background: #fff;
  border-radius: 16px;
  padding: 2rem 3rem;
  text-align: center;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.2);
  animation: scaleUp 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.image-crop {
  width: 200px;
  height: 150px;
  overflow: hidden;
  /* cache ce qui dépasse */
  border-radius: 10px;
  /* optionnel */
}

.image-crop img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* garde les proportions et remplit tout */
  object-position: center;
  /* centre l’image */
}


@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes scaleUp {
  from {
    transform: scale(0.8);
    opacity: 0;
  }

  to {
    transform: scale(1);
    opacity: 1;
  }
}