footer {
    background-color: #fff;
    padding-bottom: 80px;
    color: #333;
    position: relative;
}

footer p {
    backdrop-filter: none;
}

.bg-footer {
    backdrop-filter: blur(10px);
    padding: 40px 0;
    position: relative;

}

.footer-hr {
    border-bottom: 1px solid #333;
    display: flex;
    justify-content: center;
    align-items: center;
}