.hero {
    height: 100%;
    display: flex;
    align-items: center;
    background-position: bottom;
    background-size: cover;
}

.mySkills {
    white-space: nowrap;
}

.mobilePic {
    background-color: white;
    border-radius: 50%;
    display: inline-block;
    overflow: hidden;
    position: relative;
    border: 8px solid #ccc;
}

.mypicContainer {
    background-image: linear-gradient(to right,
            rgba(0, 112, 225, 1) 0%,
            #0070ff80 50%,
            rgba(0, 112, 255, 0.0) 100%);
    border-top-left-radius: 150px;
    border-bottom-left-radius: 150px;
    position: absolute;
    padding: 20px;
    justify-content: left;
    right: 0;
    border: none;
    outline: none;
}

.coverPic {
    background-color: white;
    display: inline-block;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    border: 10px solid #ccc;
}

.myPicture {
    width: 250px;
}

#titleSkills {
    font-family: "Montserrat", sans-serif;
    font-size: 2rem;
    white-space: nowrap;
    display: inline-block;
}

.cursor {
    display: inline-block;
    width: 5px;
    color: transparent;
    background-color: var(--blue);
    animation: blink 0.7s step-end infinite;
    font-weight: 500 !important;
}



@keyframes blink {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}