
#heroSection{
    background-image:
    linear-gradient(to bottom left, 
    rgb(255, 255, 255) 0%,        /* Top : couleur pleine */
    rgba(255, 255, 255, 0.9) 70%,     /* Milieu : couleur + transparence */
    rgb(255, 255, 255,0) 80%        /* Bas : image visible */
  ),
    url("../img/bg-hero2.png");
    /* background-attachment: fixed; */
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top left;
    width: 100%;
}
.hero{
    height: 100%;
    /* background-color: rgba(240, 248, 255, 0.664); */
    /* backdrop-filter: blur(5px); */
}
.mySkills{
    white-space: nowrap;
}
@media (min-width:576px) {
    .hero{
        display: flex;
        /* justify-content: start; */
        align-items: center;
        height: 90vh;
    }
}

.myBtnContainer{
    display: flex;
    gap: 10px;
}
.mypicContainer{
    background-color: var(--blue);
    border-top-left-radius: 150px;
    border-bottom-left-radius: 150px;
    position: absolute;
    right: 0;
    padding: 20px;
    justify-content: left;
}
.coverPic{
    background-color: white;
    display: inline-block;
    /* padding: 0 0px; */
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    border: 10px solid #ccc;
}
.myPicture{
    width: 250px;
}


h1#titleSkills {  
    font-family: monospace;  
    font-size: 2rem;  
    white-space: nowrap;  
    overflow: hidden;  
    border-right: 2px solid currentColor;  
    --length: 20;  
    width: 0;  
    display: inline-block;  
  }  

  .cursor {  
    animation: blink 0.7s step-end infinite;  
  }  

  .typing {  
    animation:  
      typing 2s steps(var(--length)) forwards,  
      blink   0.7s step-end infinite;  
  }  

  .erasing {  
    animation:  
      erase 2s steps(var(--length)) forwards,  
      blink   0.7s step-end infinite;  
  }  

  @keyframes typing {  
    from { width: 0; }  
    to   { width: calc(var(--length) * 1ch); }  
  }  

  @keyframes erase {  
    from { width: calc(var(--length) * 1ch); }  
    to   { width: 0; }  
  }  

  @keyframes blink {  
    0%, 100% { border-right-color: currentColor; }  
    50%      { border-right-color: transparent; }  
  }
