.hero {
    height: 100%;
    display: flex;
    align-items: center;
    background-position: bottom;
    background-size: cover;
}

h1,
.h1,
span.cursor,
span#typedText {
    font-size: 50px !important;
    font-family: "Montserrat", sans-serif !important;
    font-weight: 700;
}

@media (max-width:991.66px) {

    .hero {
        text-align: center !important;
    }

    .mypicContainer {
        display: none !important;
    }

    .typingContainer {
        display: flex;
        flex-direction: column;
    }

    .coverPic {
        border: 7px solid var(--blue) !important;
        margin: 20px;
        height: 150px !important;
        width: 150px !important;
    }

    .myPicture {
        width: 150px !important;
    }

    h1,
    .h1,
    span.cursor,
    span#typedText {
        font-size: 40px !important;
        font-family: "Montserrat", sans-serif;
    }

    .myBtnContainer {
        justify-content: center !important;
    }


}

@media (max-width:576px) {
    .myBtnContainer {
        flex-direction: column;
        gap: 10px;
    }

    h1,
    .h1,
    span.cursor,
    span#typedText {
        font-size: 25px !important;
    }
}

.mobilePic {
    background-color: white;
    border-radius: 50%;
    display: inline-block;
    overflow: hidden;
    position: relative;
    border: 8px solid #ccc;
}

.mypicContainer {
    background-image: linear-gradient(to right,
            rgba(0, 112, 225, 1) 0%,
            #0070ff80 50%,
            rgba(0, 112, 255, 0.0) 100%);
    border-top-left-radius: 150px;
    border-bottom-left-radius: 150px;
    position: absolute;
    padding: 20px;
    justify-content: left;
    right: 0;
    border: none;
    outline: none;
}

.coverPic {
    background-color: white;
    display: inline-block;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    border: 10px solid #ccc;
}

.myPicture {
    width: 250px;
}

#titleSkills {
    font-family: "Montserrat", sans-serif;
    font-size: 2rem;
    white-space: nowrap;
    display: inline-block;
}

.cursor {
    display: inline-block;
    width: 5px;
    color: transparent;
    background-color: var(--blue);
    animation: blink 0.7s step-end infinite;
    font-weight: 500 !important;
}



@keyframes blink {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}