
#heroSection{
    background-image:
    linear-gradient(to bottom left, 
    rgb(255, 255, 255) 0%,        /* Top : couleur pleine */
    rgba(255, 255, 255, 0.9) 70%,     /* Milieu : couleur + transparence */
    rgb(255, 255, 255,0) 80%        /* Bas : image visible */
  ),
    url("../img/bg-hero2.png");
    /* background-attachment: fixed; */
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top left;
    width: 100%;
}
.hero{
    height: 100%;
    /* background-color: rgba(240, 248, 255, 0.664); */
    /* backdrop-filter: blur(5px); */
}
.mySkills{
    white-space: nowrap;
}
@media (min-width:576px) {
    .hero{
        display: flex;
        /* justify-content: start; */
        align-items: center;
        height: 90vh;
    }
}

.myBtnContainer{
    display: flex;
    gap: 10px;
}
.mypicContainer{
    background-color: var(--blue);
    border-top-left-radius: 150px;
    border-bottom-left-radius: 150px;
    position: absolute;
    right: 0;
    padding: 20px;
    justify-content: left;
}
.coverPic{
    background-color: white;
    display: inline-block;
    /* padding: 0 0px; */
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    border: 10px solid #ccc;
}
.myPicture{
    width: 250px;
}
#titleSkills {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  white-space: nowrap;
  display: inline-block;
}

.cursor {
  display: inline-block;
  width: 5px;
  color: var(--white);
  background-color: var(--blue);
  animation: blink 0.7s step-end infinite;
  font-weight: 500 !important;
}

@keyframes blink {
  0%, 100% { opacity: 1; }
  50%      { opacity: 0; }
}
