#technologie {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.techIcon {
    object-fit: contain;
    /* display: inline-block; */
}

.techContainer {
    background-color: #fff;
}

.iconDesign {
    display: flex;
    justify-content: space-around;
}

.progress {
    height: auto !important;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

    border-radius: 20px !important;

}

.progress-bar {
    background-color: #0070FF !important;
    border-radius: 20px !important;
    width: 0;
}