/* @font-face {
    font-family: 'Myfont';
    src: url('../fonts/montserrat-regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Myfont-bold';
    src: url('../fonts/montserrat-bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
} */


/* Position normale */
.navbar {
  position: fixed !important;
  bottom: 2% !important;
  width: 100%;
  z-index: 1;
  transition: transform 2s ease-in-out, opacity 2s ease-in-out;
}




.nav-link {
  width: 40px;
  height: 40px;
  transition: all 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.nav-link:hover {
  background-color: #cccccc34;
}

.nav-link i {
  font-size: 24px;
  color: #0070FF;
  stroke: #ccc;
  transition: color 0.3s ease;
}

.navbar-nav {
  background-color: #fff !important;
  border-radius: 50px;
  gap: 40px;
  padding: 20px 30px !important;
  flex-direction: row !important;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


* {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}

#hero,
#about,
#technologie,
#portfolio,
#contact {
  height: 100vh;
}

.text-underlined {
  text-decoration: underline;
}

.nowrap {
  white-space: nowrap;
}

body {
  background-color: #eae6e6ac !important;
  background-position: bottom;
  background-size: cover;
  background-attachment: fixed;
}

p {
  font-size: 20px;
  backdrop-filter: blur(10px);
}

.border-radius-10 {
  border-radius: 10px;
}

.border-radius-20 {
  border-radius: 20px;
}

@media (max-width:991.66px) {
  p {
    font-size: 18px !important;
  }

  #about,
  #technologie,
  #portfolio,
  #contact {
    height: auto !important;
  }

  .input-container {
    margin-bottom: 15px !important;
  }
}

p.hello {
  font-size: 25px;
  margin-bottom: 5px;
}

:root {
  --white: #fff !important;
  --blue: #0070FF !important;
  --black: #333333 !important;
  --gray: #cccccc5d !important;
}

.color-blue {
  color: var(--blue) !important;
}

a {
  text-decoration: none !important;
}

.myBtn {
  padding: 10px 30px 10px 30px;
  background: transparent;
  border: solid 2px var(--blue);
  border-radius: 30px;
  transition: all 0.2s ease;
  font-weight: 500;
  text-decoration: none !important;
}

.myBtn-primary {
  background-color: var(--blue);
  color: var(--white);
}

.myBtn-primary:hover {
  background-color: #006effdc;
  color: var(--white);
  border: solid 2px #006effdc !important;

}

.myBtn-secondary {
  background-color: transparent;
  color: var(--black);
  backdrop-filter: blur(5px);
}

.myBtn-secondary:hover {
  background-color: var(--blue);
  color: var(--white);
}

.myBtn-white {
  background-color: var(--white);
  border: 1px solid var(--white);
  color: var(--black);
}

.icon-wrapper {
  position: relative;
  width: 20px;
  height: 20px;
  display: inline-block;
}

.icon-wrapper img {
  position: absolute;
  top: 0;
  left: 0;
}

.icon-default {
  opacity: 1;
  z-index: 1;
}

.icon-hover {
  opacity: 0;
  z-index: 2;
}

.myBtn-secondary:hover .icon-default {
  opacity: 0;
}

.myBtn-secondary:hover .icon-hover {
  opacity: 1;
}



h2 {
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
}

.myBtnContainer {
  display: flex;
  gap: 10px;
}

.bg-absolute {
  position: absolute;
  right: 0;
  top: 25%;
}




@media (max-width:991.66px) {

  .hero {
    text-align: center !important;
  }

  .mypicContainer {
    display: none !important;
  }

  .typingContainer {
    display: flex;
    flex-direction: column;
  }

  .coverPic {
    border: 7px solid var(--blue) !important;
    margin: 20px;
    height: 150px !important;
    width: 150px !important;
  }

  .myPicture {
    width: 150px !important;
  }

  h1,
  .h1,
  span.cursor,
  span#typedText {
    font-size: 40px !important;
    font-family: "Montserrat", sans-serif;
  }

  .myBtnContainer {
    justify-content: center !important;
  }

  #technologie,
  #portfolio {
    height: auto !important;
  }

  .img-portfolio {
    width: 300px !important;
  }
}

@media (max-width:576px) {

  #heroSection {
    height: 90vh;
  }

  .myBtnContainer {
    flex-direction: column;
    gap: 10px;
  }

  h1,
  .h1,
  span.cursor,
  span#typedText {
    font-size: 25px !important;
  }

  .navbar-nav {
    /* gap: 20px !important; */
    gap: 0 !important;
    width: 100%;
    justify-content: space-between;

  }

  .box div {
    width: 30px !important;
    height: 30px !important;
  }

  #about {
    margin-bottom: 50px;
  }


  .aboutPicture {
    width: 200px !important;
  }

  .techIcon {
    height: 50px !important;
    width: 50px !important;
    object-fit: contain;
  }
}


/* contact */
.contact-container {
  background-color: #0070FF;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 40px;
  overflow: hidden;
}

.left-contact {
  background-image: url("../img/vac.png");
  background-size: cover;
  background-position: bottom;

}

.bg-left-contact {
  background-color: #006effa7;
  backdrop-filter: blur(1px);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
}

.contactLink {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 20px;
}

.formulaire {
  display: flex;
  flex-direction: column;
  /* padding: 40px; */
  width: 100%;
  background-color: #fff;
}

input {
  height: 3rem;
}

textarea {
  height: 6rem;
}

input,
textarea {
  margin-bottom: 5px;
  width: 100%;
  border: #0070FF solid 2px;
}

.input-container {
  position: relative;
  width: 100%;
  margin-bottom: 20px
}

.input-container input {
  width: 100%;
  padding: 20px;
  border: 1px solid #0070FF;
  border-radius: 30px;
  outline: none;
  background: none;
  color: #333
}

.input-container textarea {
  width: 100%;
  padding-left: 20px;
  padding-top: 10px;
  border: 1px solid #0070FF;
  border-radius: 30px;
  outline: none;
  background: none;
  color: #333
}


.input-container .label {
  position: absolute;
  left: 20px;
  top: 24px;
  transform: translateY(-50%);
  pointer-events: none;
  color: #333;
  transition: all 0.3s ease
}

input:focus+.label,
textarea:focus+.label {
  top: 0px !important;
  padding-left: 10px;
  padding-right: 10px;
  color: #0070FF;
  background: #fff;
  font-size: 0.8em;
  border: none !important
}

/* Label en haut quand focus OU input non vide */
.input-container input:focus+.label,
.input-container input:not(:placeholder-shown)+.label,
.input-container textarea:focus+.label,
.input-container textarea:not(:placeholder-shown)+.label {
  top: 0px !important;
  padding-left: 10px;
  padding-right: 10px;
  color: #0070FF;
  background: #fff;
  font-size: 0.8em;
}